* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.container {
    width: 650px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: 300ms;
}

.container:hover {
    transform: rotate(720deg) scale(1.2);
}

.hamburger {
    width: 600px;
    height: 80px;
    background-color: palegreen;
    border-radius: 100px;
    position: relative;        
}

.hamburger::before, .hamburger::after {
    content: "";
    width: 600px;
    height: 80px;
    border-radius: 100px;
    position: absolute; 
}

.hamburger::before {
    transform: translateY(-120px);
    background-color: palegoldenrod;
    transition: 300ms;    
}

.hamburger::after {
    transform: translateY(120px);
    background-color: palegoldenrod;
    transition: 300ms;    
}

.container:hover .hamburger {    
    background-color: transparent;    
} 

.container:hover .hamburger::before {
    transform: rotate(45deg);

}


.container:hover .hamburger::after {
    transform: rotate(-45deg);
}